<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chinsk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1_round"
        android:label="My own quiz"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chinsk">
        <activity android:name=".Vid1"></activity>
        <activity android:name=".Vid" />
        <activity android:name=".Nauk" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>